.row
  .col.s12
    %h3 Scrape History
.row
  .col.s9
    #scrapes-table
  .col.s3
    %p The table to the left shows a history of scrapes. Click one to view the data.
    %p Click the "+" icon to add a new scrape.

= javascript_pack_tag 'Scrapes'
